@model IEnumerable<AssignmentWAP.Models.Student>

@{
    ViewBag.Title = "Index";
}
@{ var data = Model.AsEnumerable(); }
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mã sinh viên")
        </th>
        <th>
            @Html.DisplayName("Hình thức nộp phạt")
        </th>
        <th>
            @Html.DisplayName("Số lần tiền nộp phạt")
        </th>
        <th>
            @Html.DisplayName("Số lần chống đẩy")
        </th>
        <th>
            @Html.DisplayName("Ngày nộp phạt")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSinhVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucNopPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienNopPhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChongDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNopPhat)
            </td>
        </tr>
    }
<td>Tổng số tiền nộp phạt : @Model.Sum(i => i.TienNopPhat)</td>
   
<td>Tổng số lần chống đẩy: @Model.Sum(i => i.ChongDay)</td>
 


</table>
